<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>

</head>
<body>
    <div id="4801891249d24a4fb5bcd68dbed48372" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_4801891249d24a4fb5bcd68dbed48372 = echarts.init(
            document.getElementById('4801891249d24a4fb5bcd68dbed48372'), 'westeros', {renderer: 'canvas'});
        var option_4801891249d24a4fb5bcd68dbed48372 = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\uc804\uad6d[2017.11=100]",
                        "value": 125.4
                    },
                    {
                        "name": "\uc11c\uc6b8[2017.11=100]",
                        "value": 162.2
                    },
                    {
                        "name": "\ub300\uad6c[2017.11=100]",
                        "value": 129.5
                    },
                    {
                        "name": "\ub300\uc804[2017.11=100]",
                        "value": 143.0
                    },
                    {
                        "name": "\uc138\uc885[2017.11=100]",
                        "value": 179.3
                    },
                    {
                        "name": "\uacbd\uae30[2017.11=100]",
                        "value": 135.6
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "outside",
                    "margin": 8,
                    "formatter": "{b}\n{d}"
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "2006\ub3c4",
                "2010\ub3c4",
                "2014\ub3c4",
                "2018\ub3c4",
                "2021\ub3c4"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\uc804\uad6d[2017.11=100]",
                        "\uc11c\uc6b8[2017.11=100]",
                        "\ub300\uad6c[2017.11=100]",
                        "\ub300\uc804[2017.11=100]",
                        "\uc138\uc885[2017.11=100]",
                        "\uacbd\uae30[2017.11=100]"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "0%",
                    "bottom": "70%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uc804\uad6d[2017.11=100]",
                            "value": 66.175
                        },
                        {
                            "name": "\uc11c\uc6b8[2017.11=100]",
                            "value": 66.13333333333333
                        },
                        {
                            "name": "\ub300\uad6c[2017.11=100]",
                            "value": 61.71666666666666
                        },
                        {
                            "name": "\ub300\uc804[2017.11=100]",
                            "value": 74.175
                        },
                        {
                            "name": "\uc138\uc885[2017.11=100]",
                            "value": 70.55833333333334
                        },
                        {
                            "name": "\uacbd\uae30[2017.11=100]",
                            "value": 76.575
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "outside",
                        "margin": 8,
                        "formatter": "{b}\n{d}"
                    }
                }
            ],
            "title": [
                {
                    "text": "\uc5f0\ub3c4\ubcc4 \ud3c9\uade0 \uc2e4\uac70\ub798\uc9c0\uc218 \ube44\uad50",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uc2e4\uac70\ub798\uc9c0\uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uc804\uad6d[2017.11=100]",
                        "\uc11c\uc6b8[2017.11=100]",
                        "\ub300\uad6c[2017.11=100]",
                        "\ub300\uc804[2017.11=100]",
                        "\uc138\uc885[2017.11=100]",
                        "\uacbd\uae30[2017.11=100]"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "0%",
                    "bottom": "70%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uc804\uad6d[2017.11=100]",
                            "value": 78.74166666666667
                        },
                        {
                            "name": "\uc11c\uc6b8[2017.11=100]",
                            "value": 82.10000000000002
                        },
                        {
                            "name": "\ub300\uad6c[2017.11=100]",
                            "value": 57.675
                        },
                        {
                            "name": "\ub300\uc804[2017.11=100]",
                            "value": 82.85000000000002
                        },
                        {
                            "name": "\uc138\uc885[2017.11=100]",
                            "value": 69.02500000000002
                        },
                        {
                            "name": "\uacbd\uae30[2017.11=100]",
                            "value": 90.80833333333334
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "outside",
                        "margin": 8,
                        "formatter": "{b}\n{d}"
                    }
                }
            ],
            "title": [
                {
                    "text": "\uc5f0\ub3c4\ubcc4 \ud3c9\uade0 \uc2e4\uac70\ub798\uc9c0\uc218 \ube44\uad50",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uc2e4\uac70\ub798\uc9c0\uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uc804\uad6d[2017.11=100]",
                        "\uc11c\uc6b8[2017.11=100]",
                        "\ub300\uad6c[2017.11=100]",
                        "\ub300\uc804[2017.11=100]",
                        "\uc138\uc885[2017.11=100]",
                        "\uacbd\uae30[2017.11=100]"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "0%",
                    "bottom": "70%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uc804\uad6d[2017.11=100]",
                            "value": 88.075
                        },
                        {
                            "name": "\uc11c\uc6b8[2017.11=100]",
                            "value": 78.34166666666667
                        },
                        {
                            "name": "\ub300\uad6c[2017.11=100]",
                            "value": 83.94166666666669
                        },
                        {
                            "name": "\ub300\uc804[2017.11=100]",
                            "value": 96.93333333333334
                        },
                        {
                            "name": "\uc138\uc885[2017.11=100]",
                            "value": 89.38333333333334
                        },
                        {
                            "name": "\uacbd\uae30[2017.11=100]",
                            "value": 87.51666666666668
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "outside",
                        "margin": 8,
                        "formatter": "{b}\n{d}"
                    }
                }
            ],
            "title": [
                {
                    "text": "\uc5f0\ub3c4\ubcc4 \ud3c9\uade0 \uc2e4\uac70\ub798\uc9c0\uc218 \ube44\uad50",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uc2e4\uac70\ub798\uc9c0\uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uc804\uad6d[2017.11=100]",
                        "\uc11c\uc6b8[2017.11=100]",
                        "\ub300\uad6c[2017.11=100]",
                        "\ub300\uc804[2017.11=100]",
                        "\uc138\uc885[2017.11=100]",
                        "\uacbd\uae30[2017.11=100]"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "0%",
                    "bottom": "70%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uc804\uad6d[2017.11=100]",
                            "value": 101.0
                        },
                        {
                            "name": "\uc11c\uc6b8[2017.11=100]",
                            "value": 111.93333333333334
                        },
                        {
                            "name": "\ub300\uad6c[2017.11=100]",
                            "value": 102.65
                        },
                        {
                            "name": "\ub300\uc804[2017.11=100]",
                            "value": 100.40000000000002
                        },
                        {
                            "name": "\uc138\uc885[2017.11=100]",
                            "value": 101.75
                        },
                        {
                            "name": "\uacbd\uae30[2017.11=100]",
                            "value": 101.2
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "outside",
                        "margin": 8,
                        "formatter": "{b}\n{d}"
                    }
                }
            ],
            "title": [
                {
                    "text": "\uc5f0\ub3c4\ubcc4 \ud3c9\uade0 \uc2e4\uac70\ub798\uc9c0\uc218 \ube44\uad50",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uc2e4\uac70\ub798\uc9c0\uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uc804\uad6d[2017.11=100]",
                        "\uc11c\uc6b8[2017.11=100]",
                        "\ub300\uad6c[2017.11=100]",
                        "\ub300\uc804[2017.11=100]",
                        "\uc138\uc885[2017.11=100]",
                        "\uacbd\uae30[2017.11=100]"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "0%",
                    "bottom": "70%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uc804\uad6d[2017.11=100]",
                            "value": 125.4
                        },
                        {
                            "name": "\uc11c\uc6b8[2017.11=100]",
                            "value": 162.2
                        },
                        {
                            "name": "\ub300\uad6c[2017.11=100]",
                            "value": 129.5
                        },
                        {
                            "name": "\ub300\uc804[2017.11=100]",
                            "value": 143.0
                        },
                        {
                            "name": "\uc138\uc885[2017.11=100]",
                            "value": 179.3
                        },
                        {
                            "name": "\uacbd\uae30[2017.11=100]",
                            "value": 135.6
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "outside",
                        "margin": 8,
                        "formatter": "{b}\n{d}"
                    }
                }
            ],
            "title": [
                {
                    "text": "\uc5f0\ub3c4\ubcc4 \ud3c9\uade0 \uc2e4\uac70\ub798\uc9c0\uc218 \ube44\uad50",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uc2e4\uac70\ub798\uc9c0\uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_4801891249d24a4fb5bcd68dbed48372.setOption(option_4801891249d24a4fb5bcd68dbed48372);
    </script>
</body>
</html>
